/* Botón estilizado */
.btn-styled {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff; /* Azul atractivo */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-styled:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el cursor */
    transform: scale(1.05); /* Efecto de zoom ligero */
}

.btn-styled:active {
    background-color: #004085; /* Azul más oscuro al hacer clic */
    transform: scale(0.95); /* Efecto de clic */
}
